<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.dreier.mytargets">

    <uses-sdk
        android:targetSdkVersion="22"
        android:minSdkVersion="10"
        tools:overrideLibrary="android.support.test.uiautomator.v18"/>
        
    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>