<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dreier.mytargets">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:backupAgent=".utils.MyBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIy_jZMyyGuh5M-ICvUll4H1WyF1R9M8cUcN5wVw" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TrainingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RoundActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TrainingActivity" />
        </activity>
        <activity
            android:name=".activities.PasseActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.RoundActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoundActivity" />
        </activity>
        <activity
            android:name=".activities.NewRoundActivity"
            android:label="@string/title_activity_new_round"
            android:parentActivityName=".activities.TrainingActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TrainingActivity" />
        </activity>
        <activity
            android:name=".activities.BowActivity"
            android:label="@string/my_bows"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditBowActivity"
            android:label="@string/title_activity_edit_bow"
            android:parentActivityName=".activities.BowActivity"
            android:theme="@style/AppTheme.Overlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BowActivity" />
        </activity>
        <activity
            android:name=".activities.ScoreboardActivity"
            android:label="@string/title_activity_scoreboard"
            android:parentActivityName=".activities.RoundActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoundActivity" />
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/statistic" />
    </application>
</manifest>
