<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 Florian Dreier
  ~
  ~ This file is part of MyTargets.
  ~
  ~ MyTargets is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 2
  ~ as published by the Free Software Foundation.
  ~
  ~ MyTargets is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.dreier.mytargets"
          android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="me.oriley.homage, me.oriley.homage.recyclerview"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".ApplicationInstance"
        android:allowBackup="true"
        android:backupAgent=".utils.MyBackupAgent"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_targets"
        android:restoreAnyVersion="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIy_jZMyyGuh5M-ICvUll4H1WyF1R9M8cUcN5wVw"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/my_targets"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.CustomToolbar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$TrainingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.CustomToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$RoundActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$TrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$TrainingActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$TimerActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".activities.InputActivity"
            android:theme="@style/AppTheme.CustomToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.InputActivity"/>
        </activity>
        <activity
            android:name=".activities.InputActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$RoundActivity"
            android:theme="@style/AppTheme.CustomToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$RoundActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$EditTrainingActivity"
            android:label="@string/new_round"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$TrainingActivity"
            android:theme="@style/AppTheme.CustomToolbar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$TrainingActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$EditRoundActivity"
            android:label="@string/new_round"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$TrainingActivity"
            android:theme="@style/AppTheme.CustomToolbar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$TrainingActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"
            android:label="@string/new_round_template"
            android:parentActivityName=".activities.StandardRoundActivity"
            android:theme="@style/AppTheme.CustomToolbar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$EditBowActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.CustomToolbar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$EditArrowActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.CustomToolbar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.ScoreboardActivity"
            android:label="@string/scoreboard"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$TrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$TrainingActivity"/>
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/statistic"
            android:theme="@style/AppTheme.CustomToolbar"/>
        <activity
            android:name=".activities.ItemSelectActivity$ArrowActivity"
            android:label="@string/arrow"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$BowActivity"
            android:label="@string/bow"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$EnvironmentActivity"
            android:label="@string/environment"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$TargetActivity"
            android:label="@string/target_face"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"
            android:theme="@style/AppTheme.CustomToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$DistanceActivity"
            android:label="@string/distance"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"
            android:theme="@style/AppTheme.CustomToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditStandardRoundActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$WindSpeedActivity"
            android:label="@string/wind_speed"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ItemSelectActivity$EnvironmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ItemSelectActivity$EnvironmentActivity"/>
        </activity>
        <activity
            android:name=".activities.ItemSelectActivity$WindDirectionActivity"
            android:label="@string/wind_direction"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ItemSelectActivity$EnvironmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ItemSelectActivity$EnvironmentActivity"/>
        </activity>
        <activity
            android:name=".activities.StandardRoundActivity"
            android:label="@string/standard_rounds"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$EditTrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$EditTrainingActivity"/>
        </activity>

        <!-- Preferences activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/preferences"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity"/>
        </activity>
        <activity
            android:name=".activities.SimpleFragmentActivityBase$LicencesActivity"
            android:label="@string/licences"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity"/>
        </activity>
        <activity
            android:name=".activities.DonateActivity"
            android:parentActivityName=".activities.SimpleFragmentActivityBase$AboutActivity"
            android:theme="@style/AppTheme.CustomToolbar.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SimpleFragmentActivityBase$AboutActivity"/>
        </activity>
        <activity android:name=".activities.DispersionPatternActivity"/>
        <activity
            android:name=".activities.ItemSelectActivity$BackupLocationActivity"
            android:label="@string/backup_location"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-cn8fltup424mmlr"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource"/>
        </provider>
        <provider
            android:name=".features.settings.backup.synchronization.StubProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name=".features.settings.backup.synchronization.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service android:name=".features.settings.backup.synchronization.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

    </application>

</manifest>